<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hnitoj.mapper.PrinterMapper" >
  <resultMap id="BaseResultMap" type="com.hnitoj.pojo.Printer" >
    <id column="printer_id" property="printerId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="in_date" property="inDate" jdbcType="DATE" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="worktime" property="worktime" jdbcType="TIMESTAMP" />
    <result column="printer" property="printer" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hnitoj.pojo.Printer" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    printer_id, user_id, in_date, status, worktime, printer
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.hnitoj.pojo.PrinterExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from printer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hnitoj.pojo.PrinterExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from printer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from printer
    where printer_id = #{printerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from printer
    where printer_id = #{printerId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hnitoj.pojo.PrinterExample" >
    delete from printer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hnitoj.pojo.Printer" >
    insert into printer (printer_id, user_id, in_date, 
      status, worktime, printer, 
      content)
    values (#{printerId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{inDate,jdbcType=DATE}, 
      #{status,jdbcType=TINYINT}, #{worktime,jdbcType=TIMESTAMP}, #{printer,jdbcType=CHAR}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hnitoj.pojo.Printer" >
    insert into printer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="printerId != null" >
        printer_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="inDate != null" >
        in_date,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="worktime != null" >
        worktime,
      </if>
      <if test="printer != null" >
        printer,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="printerId != null" >
        #{printerId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="inDate != null" >
        #{inDate,jdbcType=DATE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="worktime != null" >
        #{worktime,jdbcType=TIMESTAMP},
      </if>
      <if test="printer != null" >
        #{printer,jdbcType=CHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hnitoj.pojo.PrinterExample" resultType="java.lang.Integer" >
    select count(*) from printer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update printer
    <set >
      <if test="record.printerId != null" >
        printer_id = #{record.printerId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.inDate != null" >
        in_date = #{record.inDate,jdbcType=DATE},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.worktime != null" >
        worktime = #{record.worktime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.printer != null" >
        printer = #{record.printer,jdbcType=CHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update printer
    set printer_id = #{record.printerId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      in_date = #{record.inDate,jdbcType=DATE},
      status = #{record.status,jdbcType=TINYINT},
      worktime = #{record.worktime,jdbcType=TIMESTAMP},
      printer = #{record.printer,jdbcType=CHAR},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update printer
    set printer_id = #{record.printerId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      in_date = #{record.inDate,jdbcType=DATE},
      status = #{record.status,jdbcType=TINYINT},
      worktime = #{record.worktime,jdbcType=TIMESTAMP},
      printer = #{record.printer,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hnitoj.pojo.Printer" >
    update printer
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="inDate != null" >
        in_date = #{inDate,jdbcType=DATE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="worktime != null" >
        worktime = #{worktime,jdbcType=TIMESTAMP},
      </if>
      <if test="printer != null" >
        printer = #{printer,jdbcType=CHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where printer_id = #{printerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hnitoj.pojo.Printer" >
    update printer
    set user_id = #{userId,jdbcType=INTEGER},
      in_date = #{inDate,jdbcType=DATE},
      status = #{status,jdbcType=TINYINT},
      worktime = #{worktime,jdbcType=TIMESTAMP},
      printer = #{printer,jdbcType=CHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where printer_id = #{printerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hnitoj.pojo.Printer" >
    update printer
    set user_id = #{userId,jdbcType=INTEGER},
      in_date = #{inDate,jdbcType=DATE},
      status = #{status,jdbcType=TINYINT},
      worktime = #{worktime,jdbcType=TIMESTAMP},
      printer = #{printer,jdbcType=CHAR}
    where printer_id = #{printerId,jdbcType=INTEGER}
  </update>
</mapper>